<div class="min-h-screen bg-slate-50 flex flex-col items-start justify-stretch">
    <div class="h-12 min-w-full bg-blue-300 flex flex-row items-center justify-end p-4">
        <button class="bg-gray-200 px-2 py-1 rounded-sm border-red-600 shadow-xl " type="button">Login</button>
    </div>
    <div class="h-[87.5vh] w-full bg-white overflow-auto grid md:grid-cols-2">
        <router-outlet>

        </router-outlet>
    </div>
    <div class="h-12 min-w-full bg-blue-300 flex flex-row items-center justify-center p-4">
        <span>All rights reserved &#9400; 2026</span>
    </div>
</div>